<footer>
    <div><div class="cirkelsettings" [routerLink]="['/settings']">
        <img src="https://static-00.iconduck.com/assets.00/settings-icon-1964x2048-8nigtrtt.png" alt="lol" class="settings">
    </div>
    <div class="cirkel">
        <img src="https://pngimg.com/d/sound_PNG22.png" alt="lol" class="audio">
    </div>
    </div>
    <div class="cirkel" [routerLink]="['/home']">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRz_Za2B3Wx4i28VoxCXNFt2fE0trwLSifnbg&s" alt="back" class="back">
    </div>
</footer>