/* You can add global styles to this file, and also import other style files */
body{
    display: flex;
  justify-content: center; /* Horizontaal centreren */
  align-items: center; /* Verticaal centreren */
  height: 100vh;
  background-color: #B3BA37;
}