<div class="card">
<div class="Titel">Game</div>
<div class="Titel2">Geussr</div>
<button class="play">Play</button><br>
<button class="level">Levels</button><br>
<button class="gamemodes">Gamemodes</button>
<footer>
    <div class="cirkelsettings">
        <img src="https://static-00.iconduck.com/assets.00/settings-icon-1964x2048-8nigtrtt.png" alt="lol" class="settings">
    </div>
    <div class="cirkel">
        <img src="https://pngimg.com/d/sound_PNG22.png" alt="lol" class="audio">
    </div>
</footer>
</div>