<div class="body">
  <H2>Settings</H2>
  <div class="container">
    <p>Sound</p>
    <div class="slidecontainer">
      <input
        type="range"
        min="1"
        max="100"
        value="50"
        class="slider"
        id="myRange"
      />
    </div>
    <p>Music</p>
    <div class="slidecontainer">
      <input
        type="range"
        min="1"
        max="100"
        value="50"
        class="slider"
        id="myRange"
      />
    </div>
  </div>
  <button class="Exit">Exit</button>

</div>
